*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

/* Navbar Start */
.navbar {
    background-color: #e7e0e0e7;
    font-family: Arial, sans-serif;
    /* position: fixed; */
    /* width: 100%;  */
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar nav a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.navbar nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #ddd;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 160px;
    /* z-index: 1; */
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    /* display: block;  */
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* Navbar Search Icon */
.navbar-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: flex;
}
.navbar-icon hr{
    height: 2rem;
    margin-right: 1rem;
}
.navbar-icon:hover {
    color: #000000;
}

/* Navbar End */



/* Our History Banner Start */
.ourhistory-banner{
    background: url(/images/breadcrumb_bg.png);
    height: 350px;
}
.ourhistory-banner-container h1{
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}
.ourhistory-banner-container{
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-top: 7rem;
}
/* Our History Banner End */


/* Our History Start */
.ourhistory-container{
    display: flex;
    font-family: "Oswald", sans-serif;
    margin: 4rem;
}
.left-ourhistory{
    width: 50%;
}
.left-ourhistory button{
    padding: 1rem;
    width: 25%;
    border: #b0712f 1px solid;
    border-radius: 10px;
    background-color: #ffffff;
    color: #b0712f;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
}
.left-ourhistory button:hover{
    border: #b0712f 1px solid;
    color: #fff;
    background-color: #b0712f;
}
.left-ourhistory h2{
    margin-bottom: 2rem;
}
.left-ourhistory p{
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.right-ourhistory{
    width: 50%;
}
/* Our History End */



/* Footer Start */
  .footer{
    background: linear-gradient( rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.712) ), url(/images/banner.png);
    padding: 6rem 4rem 1rem 4rem;
    color: #fff;
    font-family: "Oswald", sans-serif;
  }
  .footer-container{
    display: flex;
  }
  .first-footer{
    width: 30%;
  }
  .second-footer{
    width: 20%;
  }
  .third-footer{
    width: 25%;
  }
  .fourth-footer{
    width: 25%;
  }
  .first-footer p{
    margin-bottom: 1rem;
  }
  .second-footer p{
    margin-bottom: 1rem;
  }
  .third-footer p{
    margin-bottom: 1rem;
  }
  .fourth-footer p{
    margin-bottom: 1rem;
  }
  .footer-container p{
    font-weight: 200;
    cursor: pointer;
  }
  .last-footer{
    margin-top: 2rem;
    display: flex;
  }
  .last-footer h5,h3{
    font-family: "Oswald", sans-serif;
  }
  .last-footer i{
    margin-right: 3rem;
    color: #fff;
    background-color: #b0712f;
    font-size: 15px;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
  }
  .final-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .social-media-links{
    display: flex;
  }
  .social-media-links p{
    margin-left: 2rem;
  }
  /* Footer End */